<div id="front">
  <img src="images/DSC00278.jpg" alt="Fábio Akita volta pra casa arrastado depois do #horaextra do #oxenterails" />
  <p class="legend">#horaextra #oxenterails <span>Fábio Akita volta pra casa arrastado</span></p>
  <div id="fb"><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffucas.heroku.com%2F&amp;layout=standard&amp;show_faces=true&amp;width=450&amp;action=like&amp;colorscheme=dark&amp;height=80" scrolling="no" frameborder="0" style="float:left; border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe></div>
</div>

<div id="news">
<% @posts.each do |post| %>
  <ul class="post">
    <li>
      <h2><%= post.title %></h2>
      <img src="<%= post.image_url %>" title="<%= post.title %>" class="thumb" />
      <p><%= post.subtitle%></p>
    </li>
  </ul>
<% end %>
</div>