<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Revista Fuças - A primeira Revista de fofocas Nerd</title>
    <link href="/stylesheets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="page">
      <div id="top">
        <h1 id="logo"><a href="/"><img src="/images/fucas.png" alt="Revista Fuças" /></a></h1>
        <h2 id="slogan">A primeira Revista de fofocas Nerd</h2>
<% if @issue %>
        <h3 id="issue">EDIÇÃO <%= @issue %> - ANO I</h3>
<% end %>
      </div>
      <div id="container">
      <%= yield %>
      </div>
    </div>
    <div id="footer"><a href="http://search.twitter.com/search?q=caravanapi">#caravanapi</a></div>
  </body>
<html>