<div id="formnews">
  <form action="/noticias" method="post">
    <label for="post_title">T&iacute;tulo</label>
    <input type="text" id="post_title" name="post[title]" /> <br />

    <label for="post_subtitle">Legenda</label>
    <input type="text" id="post_subtitle" name="post[subtitle]" /> <br />
  
    <label for="post_image_url">URL da imagem</label>
    <input type="text" id="post_image_url" name="post[image_url]" /> <br />
  
    <button type="submit">Salvar</button>
  </form>
</div>