<form action="/admin/create" method="post">
  <label for="post_title">T&iacute;tulo</label>
  <input type="text" id="post_title" name="post[title]" /> <br />

  <label for="post_subtitle">T&iacute;tulo</label>
  <input type="text" id="post_title" name="post[title]" /> <br />
  
  <label for="post_image_url">Endere&ccedil;o da imagem</label>
  <input type="text" id="post_image_url" name="post[image_url]" /> <br />
  
  <button type="submit">Salvar</button>
</form>