* {margin:0; padding:0;}
a img {
  border:none;
}
ul {
  list-style-type:none;
}
body {
  background-color:#000;
  font:16px/1.4em Arial, sans-serif;
  color:#fff;
  text-align:center;
}
#slogan {
  color:#fff;
  margin-left:40px;
  padding:30px;
  width:240px;
  float:left;
  text-align:right;
  font:bold 24px/1.3em Helvetica, Arial, sans-serif;
}
#issue {
  margin-left:40px;
  padding:10px 30px;
  width:240px;
  float:left;
  text-align:right;
  font:bold 12px/1.3em Helvetica, Arial, sans-serif;
}
#page {
  width:750px;
  margin:0 auto;
  text-align:left;
}
#top, #container {
  width:100%;
  clear:both;
}
#container.box {
  padding-top:20px;
}
#container.box h2 {
  font-size:3em;
  line-height:1.2em;
}
#container.box .subtitle {
  margin:1em 0;
}
#fb {
  width:450px;
  overflow:hidden;
  float:left;
}
#new {
  float:right;
}
h1 {
  float:left;
}
p.legend {
  position:absolute;
  margin:0 25px;
  bottom:20px;
  text-shadow:0 2px 2px #000;
  font-size:1.5em;
  width:700px;
  color:yellow;
  opacity: 1;
  -webkit-transition: opacity 500ms ease-out;
}
p.legend span {
  color:#fff;
  font:2.7em Impact, Helvetica, sans-serif;
  display:block;
  text-transform:uppercase;
}
#morenews {
  margin:2em 0 1em;
  color:yellow;
}
#formnews {
  padding:30px 0;
  margin:0 auto;
  width:650px;
  font-size:1.7em;
  color:#898989;
}
#formnews label {
  display:inline-block;
  width:220px;
  margin-bottom:30px;
}
#formnews button {
  border:none;
  padding:10px 0;
  width:200px;
  margin:0 auto;
  display:block;
  font-size:1.05em;
  color:#000085;
  text-shadow:0 1px 0 #FFF;
  background:#fff url("/images/bg-button.gif") left bottom repeat-x;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
}
#post_title, #post_subtitle, #post_image_url {
  font-size:1em;
  padding:4px 5px;
  height:28px;
  border:3px solid #666;
  margin-bottom:10px;
}
#new a {
  background:purple;
  text-decoration:none;
  color:#fff;
  padding:15px;
  text-shadow:0 1px 0 #000;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
          border-radius:10px;
}
#news {
  overflow:hidden;
  width:100%;
  clear:both;
}
.post li {
  width:156px;
  height:156px;
  overflow:hidden;
  float:left;
  margin:0 10px 10px 0;
}
.post .thumb {
  width:150px;
  border:3px solid #888;
}
.post h2 {
  font-size:1em;
  font-weight:normal;
}
.post p {
  background:#E50000;
  color:#fff;
  padding:3px 7px;
  width:136px;
}
#front {
  position:relative;
}
#front > img {
  max-width: 750px;
}
#front:hover .legend {
  opacity: 0.03;
  -webkit-transition: opacity 500ms ease-out 1.5s;
}
#footer {
  padding:20px 0 6px;
  text-align:right;
  width:750px;
  margin:0 auto;
}
#footer a {
  color:#333;
  font-size:0.85em;
}
#footer a:hover {
  color:#444;
}

#twitter {
  opacity: 0.2;
  position: absolute;
  left: 0;
  width: 180px;
  height: 400px;
  font-family: Verdana;
  font-size: 0.7em;
  text-align: left;
  line-height: 1.2em;
  padding: 10px 0 0 10px;
  -webkit-transition: opacity 500ms linear;
}

#twitter:hover {
  opacity: 1;
}

#twitter .tweet img {
  float: left;
  width: 2.8em;
  height: 2.8em;
  margin-right: 4px;
}
#twitter .tweet .text {
  display: inline;
}

#twitter .tweet {
  margin-bottom: 10px;;
}

#twitter a {
  color: #666;
}

#twitter .time {
  display: block;
  text-align: right;
}