* {margin:0; padding:0;}
body {
  background-color:#000;
  font:16px/1.4em Arial, sans-serif;
  color:#fff;
  text-align:center;
}
#slogan {
  color:#fff;
  margin-left:40px;
  padding:30px;
  width:240px;
  float:left;
  text-align:right;
  font:bold 24px/1.3em Helvetica, Arial, sans-serif;
}
#issue {
  margin-left:40px;
  padding:10px 30px;
  width:240px;
  float:left;
  text-align:right;
  font:bold 12px/1.3em Helvetica, Arial, sans-serif;
}
#page {
  width:750px;
  margin:0 auto;
  text-align:left;
}
#top, #front, #fb {
  width:100%;
  clear:both;
}
#fb {
  overflow:hidden;
}
h1 {
  float:left;
}
p.legend {
  position:absolute;
  margin:0 25px;
  top:300px;
  text-shadow:0 2px 2px #000;
  font-size:1.5em;
  width:700px;
  color:yellow;
}
p.legend span {
  color:#fff;
  font:2.7em Impact, Helvetica, sans-serif;
  display:block;
  text-transform:uppercase;
}
#morenews {
  margin-top:2em;
  color:red;
}
#front {
  position:relative;
}
#footer {
  padding:20px 0 6px;
  text-align:right;
  width:750px;
  margin:0 auto;
}
#footer a {
  color:#333;
  font-size:0.85em;
}
#footer a:hover {
  color:#444;
}